@import "config.scss";
@import "gallery.scss";

* {
  color: $color-font-main;
  font-family: monospace;
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background-color: $color-bg;

  .grid-item {
    cursor: pointer;
  }
}
#about-container {
  visibility: visible;
  opacity: 1;
  @include Transition600msOvershoot;
  display: flex;
  position: absolute;
  z-index: 5;
  top: 50px;
  background: rgb(240, 240, 240);
  width: 100%;
  height: 85vh;
  padding: 5vw;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  #heading {
    margin: 35px 15px;
    font-size: 3rem;
    letter-spacing: 10px;
    // border-bottom: 1px solid $color-bg-secondary;
  }
  #contact-heading {
    padding: 20px 0;
    font-size: 2rem;
  }
  #intro-p {
    padding: 0px 20px 50px;
  }
  #info {
    max-width: 800px;
    padding: 15px 0;
    border-top: 1px solid $color-bg-secondary;
    border-bottom: 1px solid $color-bg-secondary;
  }
  &.toggleGallery {
    visibility: hidden;
    opacity: 0;
  }
}

#modal-container {
  visibility: hidden;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  height: 93vh;
  background: rgba(#ffa6cf, $alpha: 0.8);
  z-index: 40;
  border: 1px solid $color-glitch-teal;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  #modal-off {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 50px;
    font-size: 10vw;
    color: $color-glitch-teal;
    transform: rotateZ(45deg);
    user-select: none;

    &#modal-off:hover {
      color: white;
    }
  }
}

#img-fluid {
  width: 90%;
  max-width: 1280px;
  height: auto;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 10;

  //header n nav
  .flex-container {
    position: relative;
    background: $color-bg-secondary;
    max-width: 1980px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 7px -2px rgb(226, 226, 226);

    #nav {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      #nav-list {
        position: relative;
        padding: 0;
        list-style: none;
        display: flex;
        @include TransitionSlow;

        // nav item and animations
        #droneBtn {
          &.current-page {
            &#droneBtn:before,
            &#droneBtn:after {
              position: absolute;
              content: "drone";
              text-align: center;
              font-size: $font-size-menu;
              text-decoration: none;
              letter-spacing: 0.6rem;
              width: 100%;
              height: 100%;
              z-index: -1;
              animation: logoGlitch 3s infinite;
            }
            &#droneBtn:before {
              color: $color-glitch-teal;
              top: 15px;
              left: -1px;
            }
            &#droneBtn:after {
              color: $color-glitch-pink;
              top: 15px;
              left: 1px;
            }
          }
        }
        //
        #cameraBtn {
          &.current-page {
            &#cameraBtn:before,
            &#cameraBtn:after {
              position: absolute;
              content: "camera";
              text-align: center;
              font-size: $font-size-menu;
              text-decoration: none;
              letter-spacing: 0.6rem;
              color: $color-glitch-teal;
              top: 15px;
              left: 1px;
              width: 100%;
              height: 100%;
              z-index: -1;
              animation: logoGlitch 3s infinite;
            }

            &#cameraBtn:before {
              color: $color-glitch-teal;
              top: 15px;
              left: -1px;
            }
            &#drcameraBtnoneBtn:after {
              color: $color-glitch-pink;
              top: 15px;
              left: 1px;
            }
          }
        }
        #aboutBtn {
          &.current-page {
            &#aboutBtn:before,
            &#aboutBtn:after {
              position: absolute;
              content: "about";
              text-align: center;
              font-size: $font-size-menu;
              text-decoration: none;
              letter-spacing: 0.6rem;
              color: $color-glitch-teal;
              top: 15px;
              left: 1px;
              width: 100%;
              height: 100%;
              z-index: -1;
              animation: logoGlitch 3s infinite;
            }

            &#aboutBtn:before {
              color: $color-glitch-teal;
              top: 15px;
              left: -1px;
            }
            &#aboutBtn:after {
              color: $color-glitch-pink;
              top: 15px;
              left: 1px;
            }
          }
        }

        .nav-item {
          position: relative;
          .link {
            position: relative;
            color: $color-link;
            font-size: $font-size-menu;
            text-decoration: none;
            letter-spacing: 0.6rem;
            display: block;
            padding: 15px;
            &.link:hover {
              color: rgb(255, 255, 255);
              transition: color 500ms;
            }
            &.link:before {
              content: "";
              position: absolute;
              bottom: 25%;
              left: 0;
              width: 100%;
              height: 50%;
              background: rgb(0, 0, 0);
              z-index: -1;
              transform: scale(0);
              transition: transform 300ms;
              transform-origin: bottom;
            }
            &.link:hover:before {
              transform: scale(1);
              transition: transform 300ms;
              transform-origin: right;
            }
          }
        }
      }
    }

    .logo,
    #menu-container {
      background: $color-bg-secondary;
      text-align: center;
      margin: 0;
      padding-right: 1vw;
    }
    .logo {
      width: 160px;
      position: relative;
      letter-spacing: 16px;
      font-size: $font-size-logo;
      padding-left: 3vw;
      text-transform: uppercase;
      z-index: 1;

      #logoEffect {
        position: absolute;
        width: 100%;
        height: 100%;

        &#logoEffect:before,
        &#logoEffect:after {
          position: absolute;
          content: "FCSLV";
          font-size: $font-size-logo;
          width: 100%;
          height: 100%;
          color: $color-glitch-pink;
          z-index: -1;
        }
        &#logoEffect:before {
          color: $color-glitch-pink;
          top: -29px;
          right: 6px;

          animation: logoGlitch 6s infinite;
        }
        &#logoEffect:after {
          color: $color-glitch-teal;
          top: -32px;
          right: 2px;
          animation: logoGlitch 7s infinite;
        }
      }
    }
    #menu-container {
      position: relative;

      #stripe1 {
        &.toggleMenu {
          transform: rotateZ(-45deg) translateY(7px) translateX(-10px);
          @include Transition600msOvershoot;
        }
      }
      #stripe2 {
        &.toggleMenu {
          opacity: 0;
          transform: translateX(-300px);
          transition-property: opacity transform;
          @include Transition600msOvershoot;
        }
      }
      #stripe3 {
        &.toggleMenu {
          transform: rotateZ(45deg) translateY(-7px) translateX(-10px);
          @include Transition600msOvershoot;
        }
      }

      .menu-stripe {
        background: $color-font-main;
        width: 40px;
        height: 3px;
        margin: 9px;
        border-radius: 15%;
        box-shadow: 0 2px 3px rgb(156, 156, 156);
        transition: 500ms cubic-bezier(0.3, 0.82, 0.165, 1);
      }
    }
  }
}

.current-page {
  border-bottom: 5px solid black;
}
@import "rwd.scss";

.modalAnimationOn {
  animation: modalDisplayer forwards 300ms ease-in-out;
}

@keyframes modalDisplayer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoGlitch {
  1% {
    opacity: 1;
    transform: rotateZ(-2deg);
  }
  3% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateZ(2deg);
  }
}
