@import "config.scss";

@include mediaExtraLarge {
  #menu-container {
    visibility: hidden;
    opacity: 0;
    @include TransitionSlow;
  }
}

@include mediaLarge {
  #menu-container {
    visibility: visible;
    opacity: 1;
    // @include TransitionSlow;
  }

  #nav-list {
    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;

    &.toggleNav {
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@include mediaMedium {
  #nav-list {
    &.toggleNav {
      transform: translateY(45px);
    }
  }
}
